@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://db.onlinewebfonts.com/c/abf8d4815b7b0c06e3e0cb4431e9853e?family=Speedster');

html {
  font-size: 65.5%;
}

/* Body styles */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

.navbar {
  background-color: #070707;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-icon {
  width: 60px;
  /* Adjust the width to your preference */
  height: auto;
  /* Maintain aspect ratio */
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 1rem;
}

.nav-list a {
  text-decoration: none;
  color: #ca1d1d;
  font-size: 1.5rem;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
  color: #00bfff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ca1d1d;
  margin: 6px 0;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .desktop-logo {
    display: none;
    /* Hide the logo on mobile view */
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #070707;
    text-align: center;
    left: 0;
    top: 60px;
    /* Adjust this value based on your header's height */
    z-index: 1;
  }

  .nav-list.show {
    display: flex;
  }
}


/* General Home section styles */
/* Home section styles */
.home {
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/our_cars/sr_10.JPG');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Adjust to center horizontally */
  flex-flow: column;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
  background-attachment: fixed;
}

.home home-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
}

/* Animation styles */
.animate-left {
  animation: slideInLeft 1.5s forwards;
  opacity: 0;
}

.animate-right {
  animation: slideInRight 1.5s forwards;
  opacity: 0;
}

/* Animation keyframes */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media query for mobile */
@media (max-width: 768px) {

  /* Mobile Navbar styles */
  #mobile-nav {
    background-color: #070707;
  }

  /* Mobile Navbar link styles */
  #mobile-nav a {
    color: #e0c600;
    transition: color 0.3s ease-in-out;
  }

  /* Mobile Navbar link hover styles */
  #mobile-nav a:hover {
    color: #00bfff;
  }

  /* Mobile Home section styles */
  .home {
    background-image: url('../images/front.jpg');
  }

  /* Mobile Animation styles */
  .animate-left,
  .animate-right {
    text-align: center;
  }

  /* Mobile Heading styles */
  .home h1,
  .home h2 {
    font-size: 12vw !important;
    /* Adjust the font size for tablets and mobiles */
    max-width: 80%;
    /* Limit the maximum width on smaller screens */
    text-align: center;
    /* Ensure text alignment is centered */
    margin-top: 0% !important;
    /* Adjust the margin-top for spacing on tablets and mobiles */
    margin-bottom: 0% !important;
    /* Adjust to fine-tune the vertical spacing for SHAURYA */
  }

  .home h2 {
    margin-bottom: 95% !important;
    /* Adjust to fine-tune the vertical spacing for RACING */
  }


}

/* Home section heading styles for desktop */
.home h1,
.home h2 {
  font-family: 'Siegra';
  margin-bottom: 0;
}

/* Home section heading styles for desktop */
.home h1 {
  color: #ca1d1d;
  font-size: 7vw;
  /* Adjust the font size for desktop view using viewport width */
  margin-top: 35vh;
  margin-right: 25vw;
  /* Adjust the margin from the top for desktop view */
}

.home h2 {
  color: #f5f2f2;
  font-size: 7vw;
  /* Adjust the font size for desktop view using viewport width */
  margin-bottom: 36rem;
  margin-left: 30vw;
}


/* Add more styles for other elements as needed */
.aboutUs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 4rem 2rem;
  color: #fff;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/helmet_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Set the background to be fixed */
  background-position: center bottom 20%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  /* Adjust brightness for overlay effect */
}

.content {
  max-width: 800px;
}

h1 {
  font-family: 'Siegra';
  font-size: 3rem;
  margin-bottom: 1rem;
}

.highlight-red {
  color: #ca1d1d;
  /* Red color for Shaurya */
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
  color: #fff;
}

/* Optional: Add animation for a subtle effect */
.aboutUs h1,
.aboutUs p {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}




/* Optional: Add animation for a subtle effect */
.aboutUs h1,
.aboutUs p {
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
  /* Adjusted duration to 1.5 seconds */
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Our_cars Section*/

.our_cars {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 4rem 2rem;
  color: #fff;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/cockpit.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Set the background to be fixed */
  background-position: center bottom 20%;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.car-card {
  width: 200px;
  margin-right: 20px;
  background: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.our_cars h2 {
  font-family: 'Siegra';
  font-size: 5rem;
  margin-bottom: 1rem;

}

.our_cars h2 span.our {
  color: #ca1d1d;
  /* Red color for "OUR" */
}

.our_cars h2 span.cars {
  color: #ffffff;
  /* White color for "Cars" */
}

.our_cars ul li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.car-image img {
  width: 100%;
  height: auto;
}

.car-details {
  padding: 20px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.technical-specs,
.achievements {
  margin-top: 20px;
}

h2,
h3,
h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

h10 {
  font-family: 'Siegra';
  color: #ca1d1d;
  font-size: 3vw;

}

h9 {
  font-family: 'Siegra';
  color: #fafafa;
  font-size: 1vw;
}

.slick-prev {
  display: none !important;
  /* Hide the default previous button */
}

.slick-next {
  display: none !important;
}

/* our events*/
.events {
  padding: 50px;
  background: #010101;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  background-image: url('../images/fb_event.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Set the background to be fixed */
  background-position: center bottom 20%;
}

.events h2 span.Our {
  font-family: 'Siegra';
  font-size: 5rem;
  color: #ca1d1d;
  /* Red color for "OUR" */
  margin-bottom: 1rem;
}

.events h2 span.Events {
  font-family: 'Siegra';
  font-size: 5rem;
  color: #ffffff;
  /* White color for "Cars" */
  margin-bottom: 1rem;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.event-card {
  flex: 1 1 300px;
  /* Adjust the width here */
  max-width: 400px;
  /* Add a maximum width for larger screens */
  background: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-card img {
  width: 100%;
  height: auto;
}

.event-details {
  padding: 20px;
}

.event-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ff1a1a;
  /* Red color for event titles */
}

.event-description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #ffffff;
}

.contact-button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 20px;
}

.contact-button:hover {
  background-color: #fff;
  color: #000;
}

/* Media query for tablets and smaller screens */
@media (max-width: 991px) {
  .event-card {
    flex-basis: calc(50% - 50px);
    /* Adjust width for smaller screens */
    max-width: none;
    /* Remove max-width for smaller screens */
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .event-card {
    flex-basis: calc(100% - 50px);
    /* Adjust width for mobile */
    max-width: none;
    /* Remove max-width for mobile */
  }
}


/*sponsor*/
.sponsor-section {

  padding: 50px;
  background: #010101;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  background-color: #000;
  background-image: url('../images/Potrait.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Set the background to be fixed */
  background-position: center bottom 20%;
  position: relative;
  /* Add position relative to the container */
}

.sponsor-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  ;
  /* Adjust the transparency by changing the last value */
  z-index: -1;
}
.sponsor-section h3 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.sponsor-section h2 span.Our {
  font-family: 'Siegra';
  font-size: 5rem;
  color: #ca1d1d;
  /* Red color for "OUR" */
  margin-bottom: 1rem;
}

.sponsor-section h2 span.Sponsors {
  font-family: 'Siegra';
  font-size: 5rem;
  color: #ffffff;
  /* White color for "Cars" */
  margin-bottom: 1rem;
}

.sponsor-images img {
  width: 200px;
  /* Set the width of sponsor images */
  margin: 10px;
  /* Add space around each sponsor image */
}
.sponsorship-levels {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sponsorship-levels h5{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card {
  width: calc(50% - 20px); /* Adjust width for smaller screens */
  margin-bottom: 20px;
  color: #fff; /* Change text color to white */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}

.card:hover {
  transform: translateY(-5px); /* Add slight upward movement on hover */
}

.card-body {
  padding: 20px;
}
.title {
  width: 100%; /* Take up full width */
  background-color: #ff4500; /* Change background color for title sponsor */
  color: #fff; /* Change text color to white */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out; /* Add transition for hover effect */
  border: 2px solid transparent; /* Add transparent border initially */
}

.title:hover {
  transform: translateY(-5px); /* Add slight upward movement on hover */
  border-color: #fff; /* Change border color on hover to white */
}


.platinum {
  background-color: #4CAF50; /* Change background color for platinum */
}

.gold {
  background-color: #FFD700; /* Change background color for gold */
}

.silver {
  background-color: #B0C4DE; /* Change background color for silver */
}

.bronze {
  background-color: #CD7F32; /* Change background color for bronze */
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
}

.red-text {
  color: #ff0026;
}

.thank-you-message {
  margin-top: 20px;
  /* Add space between sponsor images and thank you message */
}

.thank-you-message h2 {
  font-family: 'Siegra';
}

.thank-you-message p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sponsor-container {
  overflow: hidden;
}

.sponsor-images {
  white-space: nowrap;
  animation: scroll 20s linear infinite;
  /* Adjust the animation duration as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


@font-face {
  font-family: "Racing Games";
  font-family: 'Speedster';
  src: url('../fonts/Speedster.ttf') format('truetype');
  src: url('../fonts/Speedster.otf') format('opentype');

  src: url("https://db.onlinewebfonts.com/t/abf8d4815b7b0c06e3e0cb4431e9853e.eot");
  src: url("https://db.onlinewebfonts.com/t/abf8d4815b7b0c06e3e0cb4431e9853e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/abf8d4815b7b0c06e3e0cb4431e9853e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/abf8d4815b7b0c06e3e0cb4431e9853e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/abf8d4815b7b0c06e3e0cb4431e9853e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/abf8d4815b7b0c06e3e0cb4431e9853e.svg#Speedster")format("svg");
}

@font-face {
  font-family: "Siegra";
  src: url('../fonts/Siegra.ttf') format('truetype');
  src: url('../fonts/Siegra.otf') format('opentype');
}
